body {
    background-image: url("../img/background/concert.jpg");
}
#nav{
    padding: 0px;
    margin: 0px;
    list-style-type:none;
    background-color:#333333;
}
.section{
    display:inline-block;
    width:294.5px;
    height: 40px;
    margin:0px;
    padding:0px;
    border-right:1px solid #CCCCCC;
    text-align:center;
    line-height:40px;
}

.lien{
    display:block;
    text-decoration:none;
    color:#FFFFFF;
}

.formulaire label {
    color: #CFF900;
    display: inline;
    float:left;
    width: 70px;
    margin-left: 450px;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;


}
.formulaire input{
    color: #CFF900;
    display: inline;
    float:left;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
}

.formulaire button{
    color: #CFF900;
    display: block;
    position:absolute;
    bottom: 250px;
    right: 415px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;

}
div{
    color: #CFF900;
    display: inline;
}