body {
    background-image: url("../img/background/concert.jpg");
}
#nav{
    padding: 0px;
    margin: 0px;
    list-style-type:none;
    background-color:#333333;
}
.section{
    display:inline-block;
    width:294.5px;
    height: 40px;
    margin:0px;
    padding:0px;
    border-right:1px solid #CCCCCC;
    text-align:center;
    line-height:40px;
}

.lien{
    display:block;
    text-decoration:none;
    color:#FFFFFF;
}

.formulaire label {
    color: #CFF900;
    display: block;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;


}
.formulaire input{
    display:block;
    color: #CFF900;
    width: 30%;
    height: 30px;
    margin-left: 3%;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
}

.formulaire button{
    color: #CFF900;
    margin-left: 3%;
    margin-top: 30px;
    bottom: 250px;
    width: 150px;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;

}

#contact li{
    margin-left: 3%;
    color: #CFF900;
    display: block;
 }
#contact ul{
    margin-left: 3%;
    color: #CFF900;
    display: block;
}

#contact textarea {
    width: 30%;
    margin-left: 3%;
    color: #CFF900;
    display: block;
}
