{% extends 'base.html.twig' %}

{% block title %}Hello you{% endblock %}

{% block body %}
    <div class="formulaire">
    {{ form(form, {"attr": {"novalidate" : "novalidate"}}) }}
    </div>
{% endblock %}
